@media (min-width: 576px) {
  element.style {
    background-color:rgba(255,255,255,0.65);
    background-image:url("../../assets/img/ra_1.jpg");
    background-position:left;
    background-size:cover;
    color:yellow;
    font-size:50px;
    background-repeat:repeat-x;
    padding:100px;
    margin:0px;
  }
}

@media (min-width: 576px) {
  element.style {
    background-color:rgba(255,255,255,0.65);
    /*background-image:url("../../assets/img/ra_1.jpg");*/
    /*background-position:left;*/
    /*background-size:cover;*/
    color:rgba(48,127,162,0.93);
    font-size:medium;
    /*background-repeat:repeat-x;*/
    /*padding:100px;*/
    /*margin:0px;*/
  }
}

@media (min-width: 576px) {
  div.view {
    font-size:40px;
  }
}

